<div class= "panel yellow inline">
    <div class="panel white inset">
        <form tag="loginForm">
            <div class="fieldset panel yellow">
                <div>
                    <label>Name:</label>
                    <input tag="nameInput">
                </div>
                <div>
                    <label>Title:</label>
                    <input tag="titleInput">
                </div>
            </div>
            <button style="width: 100%; margin-top: 4px" class="panel green">Login</button>
        </form>
    </div>
</div>