<div class= "panel yellow inline small">
        <div class="panel white inset">
            <form tag="loginForm">
                <div class="fieldset panel yellow">
                    <div>
                        <label>Username:</label>
                        <input tag="usernameInput">
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" tag="passwordInput">
                    </div>
                </div>
                <button style="width: 100%; margin-top: 4px" class="panel green">Login</button>
                <a tag="register" href= "#">Register</a>
            </form>
        </div>
    </div>