<div class= "panel yellow inline small">
    <div class="panel white inset">
        <form tag="registerForm">
            <div class="fieldset panel yellow">
                <div>
                    <label>Username:</label>
                <input tag="usernameInput">
                </div>
                <div>
                    <label>Password:</label>
                    <input tag="passwordInput">
                </div>
                <div>
                    <label>Repeat Password:</label>
                    <input tag="repeatPasswordInput">
                </div>
                <div>
                    <label>Email Address:</label>
                    <input tag="emailAddressInput" placeholder="Optional">
                </div>
            </div>
            <button style="width: 100%; margin-top: 4px" class="panel green">Register</button>
            <a tag= "cancel" href= "#">Cancel</a>
        </form>
    </div>
</div>