@font-face {
    font-family: "Silkscreen";
    src: url('slkscr.ttf');
}

html, body {
    font-family: 'Silkscreen';
    font-size: 17px;
    background: #99b;
    background-image: url("images/bg.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    image-rendering: pixelated;
    margin: 0;
    padding: 4px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 34px;
    font-weight: normal;
}

form {
    margin: 0px;
}

#logo {
    width: calc(62px*4);
    height: calc(7px*4);
    margin: 10px;
}

input, button {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.fieldset {
    padding: 0px;
    min-height: 24px;
    position: relative;
}

.fieldset input, .fieldset button, .fieldset label {
    margin: 0;
    padding: 0 4px;
    border: none;
    position: relative;
    background: transparent;
}

.fieldset input[type="text"], .fieldset input:not([type]) {
    width: 128px;
}

.red { border-image-source: url("images/red_panel.png"); }
button.red:active { border-image-source: url("images/red_panel_inset.png"); }
.yellow { border-image-source: url("images/yellow_panel.png"); }
button.yellow:active { border-image-source: url("images/yellow_panel_inset.png"); }
.green { border-image-source: url("images/green_panel.png"); }
button.green:active { border-image-source: url("images/green_panel_inset.png"); }
.white { border-image-source: url("images/white_panel.png"); }
.white.inset { border-image-source: url("images/white_panel_inset.png"); }
button.white:active { border-image-source: url("images/white_panel_inset.png"); }


.panel {
    color: rgba(0, 0, 0, 0.8);
    border-width: 6px;
    border-style: solid;
    border-image-slice: 3 fill;
    background-clip: padding-box;
    image-rendering: pixelated;
    position: relative;
    padding: 0px 0px;
    min-height: 24px;
}

.panel.inline {
    display: inline-block;
}

.playerPanel {
    display: inline-block;
    width: 192px;
    height: 58px;
}

.popupBubble {
    position: absolute;
    margin-top: -6px;
    margin-left: 8px;
}

*::selection {
    background: rgba(0, 0, 0, 0.3);
}